.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 1050;
}

.modal-dialog {
    margin: 10vh auto;
}

.modal-content {
    color: var(--color-dark-purple);
}
