.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding-top: 10px;
}

.main-content {
    flex: 1;
    background-color: #f8f9fa;
}

.content {
    max-width: 95vw;
    margin: 20px auto 0 auto;
}
