.post-card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    display: block;
}

.error {
    color: red;
    font-weight: bold;
}
